@charset "UTF-8";
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.page {
  min-width: 1100px;
  /* we don't know how to make mobile versions of websites yet, */
  /* so here we've set a minimum page width */
  max-width: 1600px;
  /* here we've set a maximum page width */
  margin: 0 auto;
  /* this ensures that all content is centered on screens wider than 1600px */
  font-family: "Helvetica Neue", Arial, sans-serif;
}

.section-title {
  text-align: center;
  z-index: 1000;
  width: 60%;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
}

.section-subtitle {
  text-align: center;
  z-index: 1000;
  width: 60%;
  margin-top: 20px;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.table {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 60px auto 0 auto;
  width: 1100px;
  row-gap: 60px;
  z-index: 1000;
}
.table_theme_dark {
  margin-top: 80px;
  row-gap: 80px;
}
.table__cell {
  width: 250px;
  list-style: none;
}
.table__cell_theme_dark {
  width: 200px;
}
.table__heading {
  line-height: 34px;
  font-size: 24px;
  font-weight: bold;
}
.table__heading_theme_dark {
  line-height: 1.15;
}
.table__text {
  margin-top: 20px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  position: relative;
  background: #f2f2f2;
  display: flex;
  z-index: 1000;
  /* parameters for the header section */
}
.header .logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
  height: 31px;
  width: 154px;
  z-index: 1000;
}
.header__title {
  align-self: center;
  margin-left: 64px;
  width: 730px;
  line-height: 96px;
  font-size: 102px;
  font-weight: bold;
  z-index: 1000;
}
.header__subtitle {
  position: absolute;
  bottom: 30px;
  left: 64px;
  width: 388px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  z-index: 1000;
}
.header__link {
  text-decoration: none;
  color: #2f80ed;
  position: relative;
}
.header__link::after {
  content: "→";
  font-size: 29px;
}
.header__main-ilustration {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 608px;
  width: 756px;
}
.header__square {
  position: absolute;
  top: 64px;
  right: 0;
  width: 568px;
  height: 568px;
  background: #2f80ed;
  z-index: -1;
}

.description {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 100px;
}

.two-columns {
  width: 80%;
  display: flex;
  justify-content: space-between;
}
.two-columns__brief {
  width: 175px;
}
.two-columns__brief a {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #2f80ed;
  text-decoration: none;
}
.two-columns__main-text {
  width: 80%;
  min-width: 784px;
}
.two-columns__paragraph {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}
.two-columns__paragraph:not(:first-child) {
  margin-top: 30px;
}
.two-columns__span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: bold;
}

.digits {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 100px;
}

.feynman {
  padding-top: 100px;
  height: 790px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.feynman__title {
  width: 775px;
  text-align: center;
  font-weight: 1.15;
  font-size: 120px;
  font-weight: bold;
}
.feynman__subtitle {
  margin-top: 70px;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
}
.feynman__link {
  position: absolute;
  top: 50%;
  right: 48px;
  text-decoration: none;
  color: #2f80ed;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
}
.feynman__link::after {
  content: "→";
  position: absolute;
  right: -45px;
  top: -5px;
}
.feynman__image {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 867px;
  height: 637px;
  z-index: -1;
}

.kaufman {
  padding-top: 90px;
  padding-bottom: 90px;
  background: #1f1f1f;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #f2f2f2;
  position: relative;
  z-index: 1000;
  overflow: hidden;
}
.kaufman .triangle {
  position: absolute;
  top: 0;
  right: -124px;
  width: 660px;
  height: 636px;
}

.footer {
  padding-top: 60px;
  padding-bottom: 40px;
  min-height: 350px;
  display: flex;
  justify-content: center;
  background: #000;
  color: #f2f2f2;
}
.footer__columns {
  width: 90%;
  display: flex;
  justify-content: space-between;
  position: relative;
}
.footer__column_content_copyright {
  flex-basis: 711px;
}
.footer__author {
  position: absolute;
  bottom: 18px;
  font-size: 18px;
  line-height: 25px;
  font-weight: normal;
}
.footer__column-heading {
  margin-bottom: 20px;
  line-height: 30px;
  font-size: 18px;
}
.footer__list {
  list-style: none;
}
.footer__column-link {
  text-decoration: none;
  display: block;
  color: #f2f2f2;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
}
.footer__social-icons {
  margin-right: 10px;
}

/*# sourceMappingURL=style.css.map */
